<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Transparant Kaartje: bijzondere visitekaartjes">
  <meta name="author" content="Quinten Krijger">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="/dist/normalize/3.0.2/normalize.css" type='text/css'>
  <link rel="stylesheet" href="/dist/skeleton/2.0.4/skeleton.css" type='text/css'>
  <link rel="stylesheet" href="/css/main.css" type='text/css'>

</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href='/'>Welkom</a></li>
        <li><a href='/mogelijkheden-en-voorbeelden.html'>Mogelijkheden en voorbeelden</a></li>
        <li><a href='/aanleverspecificaties.html'>Aanleverspecificaties</a></li>
        <li><a href='/ter-zake.html'>Prijzen e.d.</a></li>
        <li><a href='/diensten.html'>Diensten</a></li>
        <li><a href='/contact.html'>Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <div id='footer'>
    <p>Copyright &copy; <time>2015</time> Transparant Kaartje</p>
  </div>
</body>
</html>
