<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Transparant Kaartje: bijzondere visitekaartjes">
  <meta name="author" content="Quinten Krijger">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <!-- normalize.css is included in Pure CSS-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="/css/main.css" type='text/css'>

</head>
<body id="layout">
  <a href="#menu" id="menuLink" class="menu-link">
    <!-- Hamburger icon -->
    <span></span>
  </a>
  <div id="menu">
    <nav class="pure-menu">
      <a class="pure-menu-heading" href="/">Transparant Kaartje</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href='/mogelijkheden.html'>Mogelijkheden</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href='/aanleverspecificaties.html'>Aanleveren</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href='/prijzen-ed.html'>Prijzen e.d.</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href='/diensten.html'>Diensten</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href='/contact.html'>Contact</a></li>
      </ul>
    </nav>
  </div>
  <div id="page">
    <header>
      <div class="header-container">
        {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
      </div>
    </header>
    <main id="content">
      {{ content }}
    </main>
    <footer>
      <div class="footer-container">
        <p>Copyright &copy; <time>2015</time> Transparant Kaartje</p>
      </div>
    </footer>
  </div>
  <script src="/js/ui.js"></script>
</body>
</html>
